<div class="relative px-6 lg:px-8">
    <div class="mx-auto max-w-3xl pt-20 pb-32 sm:pt-48 sm:pb-40">
        <div class="bg-white bg-opacity-30 shadow-xl rounded-2xl w-auto ">
            <h1 class="text-4xl font-bold  text-white  tracking-tight sm:text-center sm:text-6xl py-8 px-12">{{ title }}
            </h1>
        </div>
        <p class="mt-6 text-lg leading-8 text-gray-600 sm:text-center">{{ description }}</p>
        <div class="mt-8 flex gap-x-4 sm:justify-center">
            <a routerLink="/about"
                class="inline-block rounded-lg bg-[#CE7777] px-4 py-1.5 text-base font-semibold leading-7 text-white shadow-sm ring-1  hover:bg-[indigo-700] hover:ring-[indigo-700]">
                Go to About
            </a>
            <a href="/account"
                class="inline-block rounded-lg px-4 py-1.5 text-base font-semibold leading-7 text-white ring-1 ring-text-white hover:ring-text-white">
                Create account
            </a>
        </div>
    </div>
</div>